{% extends 'base.html'%}
{% load static %}

{% block title %}
    login
{% endblock %}

{% block main-content %}
    <div class="row container text-center">
            <div class="col-sm-8 offset-sm-3"><br><br><br>
                <h3>Reset Password Complete</h3>
                <hr>
                <div>
                    <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullscree></iframe>
                </div>
            </div>
    </div>    
{% endblock main-content %}